# Ignore OSX generated .DS_Store files
.DS_Store

# Ignore sass cache
.sass-cache/*.*
.sass-cache/*.scssc
.sass-cache/*
/*.scssc
**/.sass-cache
**/.sass-cache/*

fonts/icons/demo-files/demo.css

fonts/icons/demo-files/demo.js

fonts/icons/demo.html

Gemfile.lock
