.page-template-page-activiteiten-php {
  h2 {
    border-bottom: dashed 2px black;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
}

.activity-info {
  @include font-size(16,16);
  font-weight: bold;
  display: table;
  margin-bottom: 10px;
}
.activity-label {
  display: table-cell;
  color: red;
  font-weight: 100;
  font-family: $colabReg;
  @include font-size(20,20);
  width: 100px;
  &:before {
    display: inline-block;
    font-family: 'icomoon';
    margin-right: 10px;
  }
}
.activity-date {
  .activity-label {
    &:before {
      content: "\e609";
    }
  }
  .the-date,
  .activity-person {
    display: table-cell;
  }
}
.activity-persons {
  .activity-label {
    &:before {
      content: "\e60a";
    }
  }
}
