.page-template-page-activiteiten-php {
  h2 {
    border-bottom: dashed 2px black;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
}

.activity-info {
  @include font-size(16,16);
  font-weight: bold;
  display: table;
  margin-bottom: 10px;
}

span {
  a.activity-item-title {
    color: $white;
    &:visited {
      color: $white;
      font-weight: bold;
    }
  }
}
.activity-list {
  @include border-radius(0 15px);
  padding: 1em;
  background-color: $red;
  @include font-size(14, 14);
  color: #FFF;
  li {
    min-height: 50px;
    margin-bottom: 10px;
    &:last {
      margin-bottom: 0;
    }
    a {
      @include font-size(14, 14);
      font-weight: bold;
      color: $white;
      @extend .inverse-link-color;
    }
    .the-date {
      display: inline;
      @include font-size(12, 14);
    }
  }
}

.activity-label {
  display: table-cell;
  color: red;
  font-weight: 100;
  font-family: $colabReg;
  @include font-size(20,20);
  width: 100px;
  &:before {
    display: inline-block;
    font-family: 'icomoon';
    margin-right: 10px;
  }
}
.activity-date {
  .activity-label {
    &:before {
      content: "\e609";
    }
  }
  .the-date,
  .activity-person {
    display: table-cell;
  }
}
.activity-persons {
  .activity-label {
    &:before {
      content: "\e60a";
    }
  }
}
