@import url(http://fonts.googleapis.com/css?family=Oswald:700);
.site-footer {
	clear: both;
  @include border-radius(15px 15px 0 0);
	background-color: $purple;
  font-weight: bold;
  color: #fff;
  padding: 1em;
  min-height: 200px;
}

.sitemap,
.address-stuff {
  @include span-columns(3 , 12);
}
.widget_text {

}

.copyright {
  @include span-columns(12, 12);
  span {
    display: block;
    text-align: right;
  }
}

.legal-stuff {
  @include span-columns(3 , 12);
}

.footer-info {
  h3 {
    color: $white;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.magalielinda {
  font-family: 'Oswald', sans-serif;
}
