.site-footer {
	clear: both;
  font-family: $colabReg;
	background-color: $purple;
	color: #fff;
  @include font-size(16,22);
  padding: 25px;
  min-height: 175px;
}

.sitemap,
.address-stuff {
  @include span-columns(4 , 12);
}

.legal-stuff {
  @include span-columns(4 omega, 12);
}

.footer-info {
  h3 {
    color: $white;
    margin: 0;
  }
}
