/**
* Form elements: Inputs, buttons, etc.
*/

form {
}

fieldset {
}

legend {
}


label,
input,
button,
select,
textarea {

}

input,
button,
select,
textarea {
  //font-family: $form-font-family; // And only set font-family here for those that need it (note the missing label element)
  border: 2px solid $grey-light;
  box-shadow: none;
  height: 35px;
  outline: none;
}

input,
textarea {
  @include transition(border-color 1s);
  border: 2px solid $grey-light;
  &:focus {
    border-color: rgba(250, 164, 26, 1);
  }
}

label {
  display: inline-block;
  padding-bottom: 5px;
  @include span-columns(3,12);

}

textarea {
  min-height: 150px;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: block;
  width: 200px;
  background: none;
  @include transition-property(backround-color);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease);
  @include border-radius(15px 0);
  &:hover,
  &:active {
    color: $white;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  @include border-radius(15px 0);
  display: inline-block;
  &:focus {
  }
}

input[type="checkbox"] {

}
.wpcf7 {
  border-top: dashed #FFA500 2px;
  padding-top: 30px !important;
  margin-top: 30px !important;
}

.form-item {
  margin-bottom: 20px;
  span.wpcf7-form-control-wrap {
    display: inline-block;
  }
}

.form-item-submit {
  padding-left: 333px;
}
.wpcf7-submit {
  &:hover {
    background-color: $orange;
  }
}
