section.front {
  padding: 0;
}

.section-header {
  @include font-size(16,44);
  @include border-radius(0 15px);
  margin-bottom: 10px;
  font-weight: bold;
  padding: 0 1em;
  color: $white;
  a {
    color: $white;
  }
  &.red {
    background-color: $red;
  }
  &.orange {
    background-color: $orange;
  }
}

.list-title {
  margin-top: 0;
  margin-bottom: 13px;
  @include font-size(28,44);
  @include border-radius(0 15px);
  color: $orange;
}

.events {
  @include span-columns(4);
  @include at-breakpoint($desktop) {
    @include span-columns(9 omega ,12);
  }
  .event {
    &.left {
      margin-bottom: 20px;
      @include at-breakpoint($desktop) {
        @include span-columns(3,6);
        margin-bottom: 0px;
      }
    }
    &.right {
      @include at-breakpoint($desktop) {
        @include span-columns(3 omega, 6);
      }
    }
  }
}
.events-list {
  background-color: $orange;
}

span.read-more {
  clear: both;
  float: right;
  display: block;
  margin-top: 15px;
  padding: 1em;
  @include border-radius(0 15px);
  &.orange {
    border: 2px solid $orange;
  }
  &:hover {
    cursor: pointer;
    background-color: $orange;
    a {
      color: $white;
    }
  }
  a {
    display: block;
    &:before {
      display: inline-block;
      font-family: 'icomoon';
      margin-right: 10px;
      content: "\e609";
    }
  }
}
