header {
  width: 100%;
  margin-bottom: 20px;
  float: left;
}

h1.site-title {
  @include span-columns(2, 4);
  @include at-breakpoint($desktop) {
    @include span-columns(3,12);
  }
  text-indent: -119988px;
  overflow: hidden;
  margin: 0;
  a.logo {
    display: block;
    background: image-url('logo.png') no-repeat;
    background-position: 50% 50%;
    height: 180px;
  }
}

.main-navigation {
  @include span-columns(5 omega, 12);
  padding-bottom: 5px;
  li {
    display: inline-block;
    margin: 5px 10px 5px 0;
    background-color: $white;
    @include border-radius(0 15px);
    &:hover {
      a {
        color: $white;
      }
    }
    a {
      display: inline-block;
      padding: 8px 10px;
      font-weight: bold;
      font-size: 14px;
      text-decoration: none;
    }
  }
}
