header {
  width: 100%;
  float: left;
  @include at-breakpoint($tablet) {
    margin-bottom: 50px;
  }
}

h1.site-title {
  @include span-columns(2, 4);
  @include at-breakpoint($desktop) {
    @include span-columns(3,12);
  }
  text-indent: -119988px;
  overflow: hidden;
  margin: 0;
  a.logo {
    display: block;
    background: image-url('logo.png') no-repeat;
    background-position: 50% 50%;
    height: 180px;
  }
}

.main-navigation {
  @include span-columns(5 omega, 12);
  padding-bottom: 5px;
  li {
    display: inline-block;
    margin: 5px 10px 5px 0;
    @include border-radius(0 15px);
    &:hover {
      border: none;
    }
    a {
      display: inline-block;
      padding: 8px 10px;
      text-decoration: none;
      &:hover {
        @include border-radius(0 15px);
        color: $white;
      }
    }
    &.darkgreen {
      border: 2px solid $darkgreen;
    }
    &.aquagreen {
      border: 2px solid $aquagreen;
    }
    &.lilac {
      border: 2px solid $lilac;
    }
    &.red {
      border: 2px solid $red;
    }
    &.orange {
      border: 2px solid $orange;
    }
    &.blue {
      border: 2px solid $blue;
    }
  }
}
