.widget_search {
  @include font-size(16, 16);
  position: relative;
  color: #F0F0F0;
  border-top: 2px solid #F0F0F0;
  margin-top: 50px;
  .pagelink.orange {
    margin-top: 30px;
  }
  .search-field {
    font-family: 'Colaborate-Light';
    max-width: 160px;
    margin-bottom: 5px;
    padding: 0 70px 0 10px;
    border-radius: 4px;
  }
  .search-icon {
    position: absolute;
    color: #939393;
    // top: 41px;
    top: 96px;
    left: 210px;
    &:before {
      font-family: 'icomoon';
      display: block;
      content: "\e624";
    }
  }
  input[type="placeholder"] {
    color: $red;
  }
  input[type="submit"] {
    display: none;
  }
}


























.content-sidebar {
  @include span-columns(3,12);
  aside {
    @include border-radius(0 15px);
    margin-bottom: 20px;
    padding: 10px;
    h3 {
      color: $white;
      margin: 5px 0;
    }
    a {
      color: $white;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

ul.sidebar-agenda-widget {
  > li {
    font-size: 14px;
    padding: 5px 0;
  }
}

.pagelink {
  @include font-size(16,44);
  @include border-radius(0 15px);
  margin-bottom: 10px;
  padding: 0 1em;
  font-weight: bold;
  &.blue {
    background-color: $blue;
  }
  &.red {
    background-color: $red;
  }
  &.darkgreen {
    background-color: $darkgreen;
  }
  &.lilac {
    background-color: $lilac;
  }
  &.orange {
    background-color: $orange;
    color: $white;
  }
  a {
    color: $white;
    &:visited {
      color: $white;
    }
  }
}

.widget_sp_image-description {
  p {
    @include font-size(12, 44);
  }
}
