


























.content-sidebar {
  @include span-columns(3,12);
  aside {
    @include border-radius(0 15px);
    margin-bottom: 20px;
    padding: 10px;
    h3 {
      color: $white;
      margin: 5px 0;
    }
    a {
      color: $white;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

ul.sidebar-agenda-widget {
  > li {
    font-size: 14px;
    padding: 5px 0;
  }
}

.pagelink {
  @include font-size(16,44);
  @include border-radius(0 15px);
  margin-bottom: 10px;
  padding: 0 1em;
  font-weight: bold;
  &.blue {
    background-color: $blue;
  }
  &.red {
    background-color: $red;
  }
  &.darkgreen {
    background-color: $darkgreen;
  }
  &.lilac {
    background-color: $lilac;
  }
  &.orange {
    background-color: $orange;
    color: $white;
  }
  a {
    color: $white;
    &:visited {
      color: $white;
    }
  }
}

.widget_sp_image-description {
  p {
    @include font-size(12, 44);
  }
}
