.custom-background {
	background-size: cover;
	z-index: -999;
	width: 100%;
}

#page {
	overflow: hidden;
	@include container();
  padding-top: 20px;
	@if ($show-grid-backgrounds) {
  	@include susy-grid-background;
	}
	@include at-breakpoint($wide-mobile) {
    @if ($show-grid-backgrounds) {
  		@include susy-grid-background;
		}
  }
  @include at-breakpoint($tablet) {
    @if ($show-grid-backgrounds) {
  		@include susy-grid-background;
		}
  }
  @include at-breakpoint($desktop) {
    max-width: 1080px;
    @include set-container-width;
    @if ($show-grid-backgrounds) {
  		@include susy-grid-background;
		}
  }
}

#main {
  @include font-size();
  width: 100%;
  float: left;
  margin-top: 50px;
	.category-work & {
		margin-top: 10px;
	}
}

.main-sidebar {
  @include span-columns(4);
  margin-bottom: 50px;
  @include at-breakpoint($wide-mobile) {
    @include span-columns(2, 6);
  }
  @include at-breakpoint($tablet) {
    @include span-columns(3, 10);
  }
  @include at-breakpoint($desktop) {
    margin-bottom: 0;
    @include span-columns(3,12);
  }
}
.content {
  @include at-breakpoint($wide-mobile) {
    @include span-columns(4 omega, 6);
  }
  @include at-breakpoint($tablet) {
    @include span-columns(7 omega, 10);
  }
  @include at-breakpoint($desktop) {
    @include span-columns(9 omega,12);
  }
}

.site-footer {
  border-top: 1px dotted $grey;
  padding-top: 20px;
}

.sub-menu {
  display: none;
}

.pagetitle {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  a {
    color: white;
  }
  &.darkgreen,
  .darkgreen & {
    color: $darkgreen;
    border-bottom: 4px solid $darkgreen;
  }
  &.aquagreen,
  .aquagreen & {
    color: $aquagreen;
    border-bottom: 4px solid $aquagreen;
  }
  &.lilac,
  .lilac & {
    color: $lilac;
    border-bottom: 4px solid $lilac;
  }
  &.red,
  .red & {
    color: $red;
    border-bottom: 4px solid $red;
  }
  &.orange,
  .orange & {
    color: $orange;
    border-bottom: 4px solid $orange;
  }
  &.blue,
  .blue & {
    color: $blue;
    border-bottom: 4px solid $blue;
  }
}

.pagelink {
  font-family: 'Colaborate-Light';
}

.comments-area {
  border-top: dashed $black 1px;
  margin-top: 30px;
}

.edit-link {
  @include font-size(14,14);
  padding: 0 10px;
  a {
    color: black;
  }
  &:before {
    display: inline-block;
    font-family: 'icomoon';
    content: "\e606";
    margin-right: 10px;
  }
}

.invisible {
  display: none !important;
}
