.metaslider {
  margin-bottom: 30px;
  border: 4px $orange solid;
  @include border-radius(0 15px);
  .caption-wrap {
    @include border-radius(0 0 15px 15px);
    text-align: right;
    background: $white;
    color: orange;
    font-size: 30px;
  }
}
.flexslider {
  position: relative;
  margin: 0 !important;
  .flex-viewport {
    height: 333px;
  }
}
.slides {
  li img {
    @include border-radius(0 15px);
    height: 332px;
  }
}

ol.flex-control-paging {
  position: absolute;
  z-index: 9;
  bottom: 50px;
  left: 400px
  li a {
    background: $orange;
  }
}
