@font-face {
  font-family: 'Colaborate-Regular';
  src: url('../fonts/ColabReg/ColabReg.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ColabReg/ColabReg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ColabReg/ColabReg.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ColabReg/ColabReg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ColabReg/ColabReg.svg#ColabReg') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Colaborate-Bold';
  src: url('../fonts/ColabBold/ColabBol.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ColabBold/ColabBol.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ColabBold/ColabBol.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ColabBold/ColabBol.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ColabBold/ColabBol.svg#ColabBol') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Colaborate-Light';
  src: url('../fonts/ColabLight/ColabLig.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ColabLight/ColabLig.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ColabLight/ColabLig.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ColabLight/ColabLig.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ColabLight/ColabLig.svg#ColabLig') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
}


/*

@font-face {
  font-family: 'eyeicomoon';
  src:url('../fonts/eyeicomoon.eot');
  src:url('../fonts/eyeicomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/eyeicomoon.ttf') format('truetype'),
    url('../fonts/eyeicomoon.woff') format('woff'),
    url('../fonts/eyeicomoon.svg#eyeicomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
