// contains all overrides for plugins.
%no-fonticons-here {
	&:before,
	&:after {
		content: '';
		padding: 0;
		margin: 0;
	}
}

.inverse-link-color {
  a {
    color: $white !important;
  }

  a:focus {
    outline: thin dotted;
  }

  a:visited {
    color: $white !important;
    .red & {
      background-color: $red !important;
    }
    .blue & {
      background-color: $blue !important;
    }
    .darkgreen & {
      background-color: $darkgreen !important;
    }
    .lilac & {
      background-color: $lilac !important;
    }
  }

  a:active,
  a:hover {
    color: white;
    outline: 0;
    -webkit-transition: width 400ms ease, background 400ms ease;
    transition:         width 400ms ease, background 400ms ease;
    background-color: $white;
    .red & {
      color: $red;
    }
    .blue & {
      color: $blue;
    }
    .darkgreen & {
      color: $darkgreen;
    }
    .lilac & {
      color: $lilac;
    }
  }
}

%font-icons {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: inline-block;
}
